<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Online Stock Trader</a>
        </div>
        <ul class="nav navbar-nav">
            <li th:classappend="${module == 'home' ? 'active' : ''}">
                <a href="#" th:href="@{/}">Home</a>
            </li>
        </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/register.html}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a th:href="@{/login.html}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                <li><a th:href="@{/logout.html}"><span class="glyphicon glyphicon-log-out"></span> Signout</a></li>
        </ul>

                <ul class="nav navbar-nav">
                    <li class="active"><a th:href="@{/stockDetail.html}">Stock Search</a></li>
                    <li class="active"><a th:href="@{/bankStatement.html}">Account Statement</a></li>
                    <li class="active"><a th:href="@{/transaction.html}">Stock Transaction</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi <span th:text="${session.user}"></span><span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="@{/registerBank.html}">Add bank account</a></li>
                            <li><a href="#" th:href="@{/manageBank.html}">Manage bank account</a></li>
                        </ul>
                    </li>
                </ul>


        </div>
</nav>
</div>

